{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>ArisGlobal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href='{% static "images/icons/metalogo.png" %}'/>
<style>
.center {
    margin: auto;
    width: 25%;
    
    padding: 10px;
}
</style>
</head>
<body>	
	<div class="container">
		<div class="page-header">
			<a style="float:right;" href="/StatusAdmin/"><i class="fas fa-home"></i>HOME</a>
			<h2>User actions</h2>
		</div>
		<div class="row">
		 <div class="col-sm-6">
		<ul class="nav nav-pills nav-stacked">
		
		  <li><a href="#"><i class="fas fa-thumbtack"></i> {{id}} {{name}} </a></li>
		
		</ul>
		</div>
		</div>
	</div>
</body>
</html>